.btn {
    height: 50px;
    width: 100px;
    background-color: rgb(7, 96, 179);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
}