table {
  border-collapse: collapse;
  width: 80%;
}

th {
  background-color: #dddddd;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.checkbox {
  margin-right: 10px;
}

tr:nth-child(odd) {
  background-color: #f0ecec;
}
