.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.filters {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  width: 80%;
  margin: 15px 0px;
}

hr {
  border: 0;
  margin-top: 25px;
  clear: both;
  display: block;
  width: 90%;
  background-color: #dddddd;
  height: 1px;
}

.btn-container {
    margin-top: 25px;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
}